In [17]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

Q 1: Write a code to print the data present in the second row of the dataframe, df.

In [18]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [19]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q.2: What is the difference between the functions loc and iloc in pandas.DataFrame?
    loc is typically used for label indexing and can access multiple columns, while . iloc is used for integer indexing

In [20]:

New_index = [3,0,1,2]

In [26]:
new_df =df.reindex(New_index)

In [27]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [28]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [30]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In iloc it take only the pamdas inside data indexing but in loc it take assigned index value

In [31]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [39]:
df1.mean()

column_1    0.467480
column_2    0.454192
column_3    0.418604
column_4    0.459363
column_5    0.562907
column_6    0.471964
dtype: float64

In [40]:
df1["column_2"].std()

0.35528054922644375

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
we can do the static opration in the string

What do you understand about the windows function in pandas and list the types of windows
functions?
Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them. The word window means the number of rows between the two boundaries by which we perform calculations including the boundary rows.

In [46]:

df = pd.DataFrame({'Current DateTime': [current_]})
print(df)

            Current DateTime
0 2023-07-01 19:09:55.358811

In [52]:


df = pd.DataFrame({"current": [current_datetime],'Current Month': [current_month], 'Current Year': [current_year]})

print(df)

                     current Current Month Current Year
0 2023-07-01 19:14:09.407091          July         2023

In [53]:
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the dates
time_diff = date2 - date1

# Extract the days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# Display the result
print("Difference between the dates:")
print(f"{days} days, {hours} hours, {minutes} minutes")

Enter the first date (YYYY-MM-DD): 2023-7-16
Enter the second date (YYYY-MM-DD): 1996-07-16
Difference between the dates:
-9861 days, 0 hours, 0 minutes

In [ ]:
import pandas as pd

# Function to convert column to categorical data type
def convert_to_categorical(data, column, categories):
    data[column] = pd.Categorical(data[column], categories=categories, ordered=True)
    return data

# Prompt user for file path
file_path = input("Enter the file path: ")

# Prompt user for column name
column_name = input("Enter the column name: ")

# Prompt user for category order
category_order = input("Enter the category order (comma-separated values): ").split(",")

# Read CSV file
data = pd.read_csv(file_path)

# Convert specified column to categorical data type
data = convert_to_categorical(data, column_name, category_order)

# Display sorted data
sorted_data = data.sort_values(by=column_name)
print(sorted_data)

In [ ]:
data = pd.read_csv('C:\\Users\\Vanshi\\Desktop\\data.csv')
  
df = pd.DataFrame(data)
  
X = list(df.iloc[:, 0])
Y = list(df.iloc[:, 1])
  
# Plot the data using bar() method
plt.bar(X, Y, color='g')
plt.title("Students over 11 Years")
plt.xlabel("Years")
plt.ylabel("Number of Students")
  
# Show the plot
plt.show()